{{# prettify }}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{{ meta.title }}</title>
<meta name="description" content="{{ meta.description }}">
<meta name="keywords" content="{{ meta.keywords }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!--[if lt IE 9]>
<script src="{{ assets }}dist/js/lib/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>
{{> body }}
</body>
</html>
{{/ prettify }}