---
id: 'JS'
meta:
  title: 'carousel'
  description: '$DESCRIPTION'
  keywords: '$KEYWORDS'
  canonical: '$CANONICAL'

styles: ['common.css']
script: ['carousel.js']
---


<div class="container">
	<div class="row">
		<div class="page-header">
			<h2>carousel</h2>
		</div>
	
		<div class="col-md-12 ">
			
			<div id="js-carousel" class="custom-carousel">
				<ul class="js-carousel__item custom-carousel__item cf">
					<li><img src="http://dummyimage.com/600x400/000/fff&text=01" alt="01"></li>
					<li><img src="http://dummyimage.com/600x400/000/fff&text=02" alt="02"></li>
					<li><img src="http://dummyimage.com/600x400/000/fff&text=03" alt="03"></li>
					<li><img src="http://dummyimage.com/600x400/000/fff&text=04" alt="04"></li>
					<li><img src="http://dummyimage.com/600x400/000/fff&text=05" alt="05"></li>
				</ul>
				<div class="carousel-controler">
					<button type="button" class="js-carousel-prev carousel-controler__prev">PREV</button>
					<button type="button" class="js-carousel-next carousel-controler__prev">NEXT</button>
				</div>
			</div>

		</div>
	</div>
</div>
