---
id: 'JS'
meta:
  title: 'closure'
  description: '$DESCRIPTION'
  keywords: '$KEYWORDS'
  canonical: '$CANONICAL'

styles: ['common.css']
script: ['common.js']
---


<div class="container">
	<div class="row">

		<div class="page-header">
			<h2>closure sample</h2>
		</div>
	
		<button type="button" class="js-closure btn btn-primary btn-lg col-md-3">Count button</button>
	
		<div class="panel panel-default col-md-8 col-md-offset-1">
			<div class="panel-body">
				<span class="js-closure-txt">0</span>
			</div>
		</div>
		
	</div>
</div>
