---
id: 'JS'
meta:
  title: 'lazyload'
  description: '$DESCRIPTION'
  keywords: '$KEYWORDS'
  canonical: '$CANONICAL'

styles: ['common.css','etc.css']
script: ['lib/jquery.lazyload.min.js', 'lazyload.js']
---


<div class="container">
	<div class="row">
		<div class="page-header">
			<h2>lazyload</h2>
		</div>
	
		<div class="col-md-12 ">
			<ul class="lazy-img-list">
				<li>
					<img class="lazy" data-original="http://dummyimage.com/600x400/000/fff&text=01" src="./dist/images/dmy.png" width="640" height="480">
				</li>
				<li>
					<img class="lazy" data-original="http://dummyimage.com/600x400/000/fff&text=02" src="./dist/images/dmy.png" width="640" height="480">
				</li>
				<li>
					<img class="lazy" data-original="http://dummyimage.com/600x400/000/fff&text=03" src="./dist/images/dmy.png" width="640" height="480">
				</li>
				<li>
					<img class="lazy" data-original="http://dummyimage.com/600x400/000/fff&text=04" src="./dist/images/dmy.png" width="640" height="480">
				</li>
				<li>
					<img class="lazy" data-original="http://dummyimage.com/600x400/000/fff&text=05" src="./dist/images/dmy.png" width="640" height="480">
				</li>
				<li>
					<img class="lazy" data-original="http://dummyimage.com/600x400/000/fff&text=06" src="./dist/images/dmy.png" width="640" height="480">
				</li>
			</ul>

		</div>
	</div>
</div>
