---
id: 'JS'
meta:
  title: 'modal'
  description: '$DESCRIPTION'
  keywords: '$KEYWORDS'
  canonical: '$CANONICAL'

styles: ['common.css']
script: ['modal.js']
---


<div class="container">
	<div class="row">
		<div class="page-header">
			<h2>modal</h2>
		</div>
	
		<div class="col-md-12 ">
			
			<button id="js-medal-open-01" type="button" class="btn btn-default">Modal Btn</button>
			
			<div class="mt20">
				<a href="#" id="js-medal-open-02">Modal Link</a>
			</div>

		</div>

	</div>
</div>

<div class="c-modal-overlay js-dn js-modal-overlay"></div>

<div id="js-modal-01" class="c-modal js-dn">
	<div class="page-header">
		<h3>modal</h3>
	</div>
	<p>modal open!</p>
</div>

<div id="js-modal-02" class="c-modal js-dn">
	<div class="page-header">
		<h3>modal2</h3>
	</div>
	<p>modal open!</p>
</div>