---
id: 'JS'
meta:
  title: 'toggle'
  description: '$DESCRIPTION'
  keywords: '$KEYWORDS'
  canonical: '$CANONICAL'

styles: ['common.css']
script: ['toggle.js']
---


<div class="container">
	<div class="row">
		<div class="page-header">
			<h2>Toggle</h2>
		</div>
		<div class="col-md-12 ">
			<div class="js-tgl js-tgl--close">
				<h2>ITEM LIST</h2>
				<button class="btn btn-default js-tgl__handle" type="buttom">ITEM</button>
				<div class="mt20">
					<div class="js-tgl__block js-dn list-group">
					  <a href="#" class="list-group-item">ITEM 01</a>
					  <a href="#" class="list-group-item">ITEM 02</a>
					  <a href="#" class="list-group-item">ITEM 03</a>
					  <a href="#" class="list-group-item">ITEM 04</a>
					  <a href="#" class="list-group-item">ITEM 05</a>
					</div>
				</div>
			</div>

			<div class="js-tgl js-tgl--close mt20">
				<h2>ITEM LIST</h2>
				<button class="btn btn-default js-tgl__handle" type="buttom">ITEM</button>
				<div class="mt20">
					<div class="js-tgl__block js-dn list-group">
					  <a href="#" class="list-group-item">ITEM 01</a>
					  <a href="#" class="list-group-item">ITEM 02</a>
					  <a href="#" class="list-group-item">ITEM 03</a>
					  <a href="#" class="list-group-item">ITEM 04</a>
					  <a href="#" class="list-group-item">ITEM 05</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
